{% extends 'main.html' %}

{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'base/topics_component.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{user.avatar_url}}" />
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.name}}</h3>
          <p>@{{user.username}}</p>
          <p>Followers: {{user.followers.count}}</p>
          <div>
            {% if request.user.is_authenticated %}
            {% if request.user != user %}
            <form method="POST" action="{% url 'follow-user' user.id %}" class="follow-form">
                {% csrf_token %}
                <button type="submit" class="follow-btn {% if request.user in user.followers.all %}unfollow{% else %}follow{% endif %}">
                    {% if request.user in user.followers.all %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            </form>
            {% endif %}
        {% endif %}
          </div>
          {% if request.user == user %}
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
          {% endif %}
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            {{user.bio}}
          </p>
        </div>
        
      </div>

      <div class="roomList__header">
        <div>
          <h2>Hosted By DocTech Admins
          </h2>
        </div>
      </div>
      {% include 'base/feed_component.html' %}


    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/activity_component.html' %}
    <!-- Activities End -->
  </div>
</main>
{% endblock content %}