{% extends 'main.html' %}
{% block content %}
<div class="container">
    <div class="layout__box">
        <div class="layout__boxHeader">
            <div class="layout__boxTitle">
                <h3>Reset Your Password</h3>
            </div>
        </div>
        <div class="layout__body">
            <h2 class="auth__tagline">Create a new password</h2>

            <!-- Render form -->
            <form class="form" action="" method="POST">
                {% csrf_token %}
                
                <!-- New password input field -->
                <div class="form__group">
                    <label for="new_password">New Password</label>
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        <div class="form__errors">
                            <ul>
                                {% for error in form.new_password1.errors %}
                                    <li class="error-message">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                <!-- Confirm password input field -->
                <div class="form__group">
                    <label for="confirm_password">Confirm Password</label>
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        <div class="form__errors">
                            <ul>
                                {% for error in form.new_password2.errors %}
                                    <li class="error-message">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                <!-- Display non-field errors (if any) -->
                {% if form.non_field_errors %}
                    <div class="form__errors">
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li class="error-message">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <!-- Submit button -->
                <button class="btn btn--main" type="submit">
                    Reset Password
                </button>
            </form>

            <div class="auth__action">
                <p>Remembered your password?</p>
                <a href="{% url 'login' %}" class="btn btn--link">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
